# 项目排除路径

/.idea/

/001mf_v2-main/dist/
/002upload-for-single/dist/
/003upload-for-multiple/dist/

/001mf_v2-main/node_modules/
/002upload-for-single/node_modules/
/003upload-for-multiple/node_modules/
